@model CRMSystem.Web.ViewModels.Statistics.StatisticViewModel
@{
    this.ViewData["Title"] = $"Statistic from {@Model.StartDate:d} to {@Model.EndDate:d}";

}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Statistic from @Model.StartDate.ToString("d") to @Model.EndDate.ToString("d")</h1>
                    </div>
                    <div class="form-group row">
                        <div class="card shadow h-auto py-2 col-lg-4 mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total benefit</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalBenefits.ToString("C")</div>
                                    </div>
                                </div>
                                <small><a href="#">With @Model.OrdersCount Orders</a></small>
                            </div>
                        </div>
                        <div class="card shadow h-auto py-2 col-lg-4 mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Best customer</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.BestCustomer.FullName</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                <small><a asp-controller="Emails" asp-action="Send" asp-route-id="@Model.BestCustomer.Id">Send thankful email</a></small>
                            </div>
                        </div>
                        <div class="card shadow h-auto py-2 col-lg-4 mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Most ordered customer</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.CustomerWithMostOrders.FullName</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                                <small><a asp-controller="Emails" asp-action="Send" asp-route-id="@Model.CustomerWithMostOrders.Id">Send thankful email</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="card shadow h-auto py-2 col-lg-4 mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Most ordered product</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.MostOrderedProduct.Name</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow h-auto py-2 col-lg-4 mb-4">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Most benefit product</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.MostBenefitProduct.Name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-action="Index" class="user" method="get">
    <div class="d-flex justify-content-lg-center ">
        <button type="submit" class="btn btn-success btn-user btn-block font-weight-bold">
            Back to general statistic
        </button>
    </div>
</form>
