@model CRMSystem.Web.ViewModels.Statistics.StatisticViewModel
@{
    this.ViewData["Title"] = $"Statistic from {@Model.StartDate:d} to {@Model.EndDate:d}";

}
<h2>@ViewData["Title"]</h2>
<hr />


Your total benefits:   @Model.TotalBenefits
<br />
Your best customer is: @Model.BestCustomer.FullName
<br />
Your customer with most orders : @Model.CustomerWithMostOrders.FullName
<br />
Your most ordered product is : @Model.MostOrderedProduct.Name
<br />
Your product which bring most Benefit is : @Model.MostBenefitProduct.Name
<br />