@using CRMSystem.Data.Models
@model CRMSystem.Web.ViewModels.Contacts.GetDetailsViewModel


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @(this.Model.FirstName + " " + this.Model.LastName);
                    </h5>
                    <h6>
                        @this.Model.JobTitle;
                    </h6>

                    <!--TODO: MAKE SALES AND EARNINGS-->
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            @if (this.Model.Organization != null)
                            {
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Organization</a>
                            }
                            else
                            {
                                <h1>Add to organization</h1>
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href=""></a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Full Name</b></label>
                            </div>
                            <div class="col-md-6">
                                <p> @(this.Model.FirstName + " " +this.Model.MiddleName+ " " + this.Model.LastName)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Email</b></label>
                            </div>
                            <div class="col-md-6">
                                @foreach (var email in this.Model.EmailAddresses)
                                {
                                    <p>
                                        @email.Email
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Phone</b></label>
                            </div>
                            <div class="col-md-6">
                                @foreach (var phone in this.Model.PhoneNumbers)
                                {
                                    <p>
                                        @phone.Phone
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Profession</b></label>
                            </div>
                            <div class="col-md-6">
                                <p>@this.Model.JobTitle</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><b>@this.Model.Organization.Name</b></h3>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    @*<a asp-controller="Organizations" asp-action="Remove" asp-route-contactId="@this.Model.Id" class="table-link">*@
                                    <i class="fas fa-edit fa-2x"></i>
                                    @*</a>*@
                                    @*<a asp-controller="Organizations" asp-action="Remove" asp-route-organizationId="@this.Model.Organization.Id" class="table-link">*@
                                    <i class="fa fa-trash fa-2x"></i>
                                    @*</a>*@
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Country</b></label>
                            </div>
                            <div class="col-md-6">
                                <p>@this.Model.Organization.Address.Country</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>City</b></label>
                            </div>
                            <div class="col-md-6">
                                <p>@this.Model.Organization.Address.City</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Street</b></label>
                            </div>
                            <div class="col-md-6">
                                <p>@this.Model.Organization.Address.Street</p>
                            </div>
                        </div>
                        <!--TODO SHOW ORGANIZATION OT MAP-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>