@model CRMSystem.Web.Infrastructure.PaginatedList<CRMSystem.Web.ViewModels.Organizations.ListOrganizationViewModel>
@{ this.ViewData["Title"] = "All companies"; }



@foreach (var company in this.Model)
{

<div class="card col-lg-4 col-md-4 col-sm-4 shadow">
    <div class="card-body text-center">
        <div class="text-center">
            <h4>@company.Name</h4>
        </div>
        <p>Industry: @company.Industry</p>
        <div class="text-center" id="shortdesc">
            <span>@company.ShortDescription</span>
        </div>
        <div class="text-center" id="fulldesc" style="display: none">

            <span>@company.Description</span>
        </div>
        @if (company.NotEqualDescription)
        {
<a href="#" onclick=showFullDescription() id="seeMore">See More</a>
                    <a href="#" onclick=showShortDescription() id="seeLess" style="display: none">See Less</a>}
    </div>
    <hr />

    <div>
        <a asp-controller="TemporaryCustomers" asp-action="Create" asp-route-id="@company.Id" class="btn btn-primary rounded-pill btn-block">Make business with this company</a>
    </div>
    <br />

</div>}



@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }


<ul class="pagination">
    <li>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
    </li>
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
<li class="page-item  @(Model.PageIndex == i ? "active" : string.Empty)">
    <a class="page-link rounded-pill" asp-route-pageNumber="@i">@i</a>
</li>}

    <li>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>

    </li>
</ul>

@section Scripts
{
    <script>
        function showShortDescription() {
            $("#seeLess").hide();
            $("#fulldesc").hide();
            $("#shortdesc").show();
            $("#seeMore").show();

        }

        function showFullDescription() {
            $("#shortdesc").hide();
            $("#fulldesc").show();
            $("#seeMore").hide();
            $("#seeLess").show();

        }
    </script>
}