@using System.Globalization
@using System.Linq
@using CRMSystem.Data.Models
@model CRMSystem.Web.Infrastructure.PaginatedList<CRMSystem.Web.ViewModels.Customers.CustomerViewModel>
@{
    this.ViewData["Title"] = "All contacts";

}



<form asp-action="Index" method="get">
    <div class="row">
        All waiting you
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Full Name</a>
            </th>


            <th class="flex-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>



        @foreach (var customer in Model)
        {
            var tm = "#myModal" + customer.Id;
            var mid = "myModal" + customer.Id;
            <tr>
                <td>
                    @customer.FullName
                </td>



                <td>






                    <form asp-action="Approve" asp-controller="TemporaryCustomers" method="post" >
                        <input type="hidden" name="Id" value="@customer.Id" />
                        <input type="hidden" name="OrganizationId" value="@customer.OrganizationId" />

                        <button type="submit" class="btn btn-info btn-icon-split rounded-pill btn-sm" title="Approve"><i class="fas fa-user-times"></i>asds</button>
                    </form>


                    <a asp-action="Details" asp-route-id="@customer.Id" class="btn btn-info btn-icon-split rounded-pill btn-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-info"></i>
                        </span>
                        <span class="text">Details</span>
                    </a>
                    <a asp-route-id="@customer.Id" data-toggle="modal"
                       data-target="#modal-delete" data-customerId="@customer.Id" class="btn btn-danger btn-icon-split rounded-pill btn-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-user-times"></i>
                        </span>
                        <span class="text">Reject</span>
                    </a>

                    <form asp-action="Delete" role="form" id="myForm">
                        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalDeleteLabel">Delete customer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hcustomerIdden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="form-control">
                                        Are you sure you want to delete @customer.FullName?
                                        <input type="hidden" id="hiddenId" asp-for="@customer.Id" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Cancel</button>
                                        <button type="submit" asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger rounded-pill" id="modalDeleteButton">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>

            </tr>
        }

    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<ul class="pagination">

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item  @(Model.PageIndex == i ? "active" : string.Empty)">
            <a class="page-link rounded-pill" asp-route-pageNumber="@i">@i</a>
        </li>
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</ul>



@section Scripts
{
    <script>
        $(function () {
            $('#modal-delete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data("customerId");
                var modal = $(this);

                modal.find('#hiddenId').val(id);
            });

            $("#modalDeleteButton").click(function () {
                $("#myForm").submit();

            });

        });
    </script>



}
