@using System.Globalization
@using System.Linq
@using CRMSystem.Data.Models
@model CRMSystem.Web.Infrastructure.PaginatedList<CRMSystem.Web.ViewModels.Customers.CustomerViewModel>
@{
    this.ViewData["Title"] = "Waiting for approval";

}



<form asp-action="Index" method="get">
    <div class="row">
        All waiting you
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Full Name</a>
            </th>


            <th class="flex-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>



        @foreach (var customer in Model)
        {
            var tm = "#myModal" + customer.Id;
            var mid = "myModal" + customer.Id;
            <tr>
                <td>
                    @customer.FullName
                </td>
                <td>
               
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <form asp-action="Approve" asp-route-id="@customer.Id" asp-route-organizationId="@customer.OrganizationId" method="post" class="form-inline">
                                    <button type="submit" class="btn btn-success btn-icon-split rounded-pill btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-user-times"></i>
                                        </span>
                                        <span class="text">Approve</span>
                                    </button>
                                </form>
                            </li>
                            <li class="list-inline-item">
                                <form asp-action="Details" asp-controller="Customers" asp-route-id="@customer.Id" class="form-inline">
                                    <button class="btn btn-info btn-icon-split rounded-pill btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info"></i>
                                        </span>
                                        <span class="text">Details</span>
                                    </button>
                                </form>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-danger btn-icon-split rounded-pill btn-sm" data-toggle="modal" data-target="@tm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-user-times"></i>
                                    </span>
                                    <span class="text">Reject</span>
                                </button>
                                <form class="form-inline" asp-action="Reject" asp-route-id="@customer.Id" asp-route-organizationId="@customer.OrganizationId" asp-route-email="@customer." method="post">
                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Reject Confirmation</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure want to reject @customer.FullName?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" id="deleteBtn" class="btn bg-danger mr-1">Reject</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    
                </td>

            </tr>
        }

    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<ul class="pagination">

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item  @(Model.PageIndex == i ? "active" : string.Empty)">
            <a class="page-link rounded-pill" asp-route-pageNumber="@i">@i</a>
        </li>
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</ul>



@section Scripts
{
    <script>
        $(function () {
            $('#modal-delete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data("customerId");
                var modal = $(this);

                modal.find('#hiddenId').val(id);
            });

            $("#modalDeleteButton").click(function () {
                $("#myForm").submit();

            });

        });
    </script>



}
