@model CRMSystem.Web.ViewModels.Customers.GetDetailsViewModel
@{
    this.ViewData["Title"] = $"Details about {@Model.FullName}";

}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            @if (!Model.IsTemporary)
            {

                <div class="d-flex justify-content-end user">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-circle btn-sm">
                                <i class="fas fa-edit" title="Edit customer"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                            </form>
                            <button class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#deleteModal">  <i class="fas fa-trash" title="Delete customer"></i></button>
                        </li>
                    </ul>
                </div>

            }
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="font-italic font-weight-bold">
                            <h1 class="h4 text-gray-900 mb-4"><i class="fas fa-user"></i> @Model.Title. @Model.FullName</h1>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>First Name:</label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                <p> @Model.FirstName</p>
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>Middle Name:</label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                <p> @Model.MiddleName</p>
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>Last Name:</label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                <p> @Model.LastName</p>
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>
                                    @if (Model.Emails.Count > 1)
                                    {
                                        <p>Emails</p>
                                    }
                                    else
                                    {
                                        <p>Email</p>
                                    }
                                </label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                @foreach (var email in this.Model.Emails)
                                {
                                    @if (email.EmailType.ToString() == "Private")
                                    {

                                        @email.Email
                                        <i class="fas fa-user-shield" title="Private"></i>

                                    }
                                    else if (email.EmailType.ToString() == "Work")
                                    {

                                        @email.Email
                                        <i class="fas fa-building" title="Home"></i>

                                    }
                                    <br />
                                }
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>
                                    @if (Model.Phones.Count > 1)
                                    {
                                        <p>Phones</p>
                                    }
                                    else
                                    {
                                        <p>Phone</p>
                                    }
                                </label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                @foreach (var phone in this.Model.Phones)
                                {
                                    @if (phone.PhoneType.ToString() == "Private")
                                    {

                                        @phone.Phone
                                        <i class="fas fa-user-shield" title="Private"></i>

                                    }
                                    else if (phone.PhoneType.ToString() == "Work")
                                    {

                                        @phone.Phone
                                        <i class="fas fa-building" title="Home"></i>

                                    }
                                    <br />
                                }
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>Profession:</label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                <p> @Model.JobTitle</p>
                            </div>
                            <div class="col-sm-4 mb-1 mb-sm-0 font-weight-bold">
                                <label>Address:</label>
                            </div>
                            <div class="col-sm-8 font-italic">
                                <p> @Model.Address.Country, @Model.Address.City, @Model.Address.Street, @Model.Address.ZipCode </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4"><i class="fas fa-fw fa-chart-area"></i>Statistic</h1>
                        </div>
                        @if (!Model.IsTemporary)
                        {
                            <partial name="_CustomerStats" model="Model.CustomerStats" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center user">
    @if (!Model.IsTemporary)
    {
        <a asp-action="Index" class="btn btn-primary btn-icon-split rounded-pill btn-sm">
            <span class="icon text-white-50">
                <i class="far fa-arrow-alt-circle-left"></i>
            </span>
            <span class="text">Back to contacts</span>
        </a>
    

    }
    else
    {
        <a asp-action="Index" asp-controller="Customers" class="btn btn-primary btn-icon-split rounded-pill btn-sm">
            <span class="icon text-white-50">
                <i class="far fa-arrow-alt-circle-left"></i>
            </span>
            <span class="text">Back to your contacts</span>
        </a>
        <p>OR</p>
        <a asp-action="Index" asp-controller="TemporaryCustomers">
            <span class="icon text-white-50">
                <i class="far fa-arrow-alt-circle-left"></i>
            </span>
            <span class="text">Back to waiting contacts</span>
        </a>
    }
</div>

<div class="modal user" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-lg-start">
                <h4 class="modal-title " id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body font-weight-bold">
                <p>Do you want to delete "@Model.FullName"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-danger mr-1 btn-user text-white" onclick="deleteForm.submit()">Delete</button>
                <button type="button" class="btn btn-dark btn-user" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


