@using CRMSystem.Web.ViewModels.Phones
@using CRMSystem.Web.ViewModels.Customers
@model CRMSystem.Web.ViewModels.Customers.GetDetailsViewModel
@{
    this.ViewData["Title"] = "Get details";

}

<body id="page-top">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4" id="CurrentContact">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary"> <b>@Html.DisplayFor(m => m.TitleAsString).</b> <i>@Html.DisplayFor(m => m.FullName)</i></h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                                        <a asp-action="Edit" asp-route-id="@Model.Id" class="dropdown-item">Edit</a>

                                        <a class="dropdown-item" href="#">Delete</a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>First Name:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> @Html.DisplayFor(m => m.FirstName)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Middle Name:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> @Html.DisplayFor(m => m.MiddleName)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Last Name:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> @Html.DisplayFor(m => m.LastName)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Work in:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> @Html.DisplayFor(m => m.IndustryAsString) Industry.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            @if (Model.EmailAddresses.Count > 0)
                                            {
                                                <b>Emails</b>
                                            }
                                            else
                                            {
                                                <b>Email</b>
                                            }
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        @foreach (var email in this.Model.EmailAddresses)
                                        {
                                            @if (email.EmailType.ToString() == "Home")
                                            {
                                                <p>
                                                    @email.Email
                                                    <i class="fas fa-home" title="Home"></i>
                                                </p>
                                            }
                                            else if (email.EmailType.ToString() == "Work")
                                            {
                                                <p>
                                                    @email.Email
                                                    <i class="fas fa-building"></i>
                                                </p>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            @if (Model.PhoneNumbers.Count > 0)
                                            {
                                                <b>Phones</b>
                                            }
                                            else
                                            {
                                                <b>Phone</b>
                                            }
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        @foreach (var phone in this.Model.PhoneNumbers)
                                        {

                                            @if (phone.PhoneType.ToString() == "Home")
                                            {

                                                <p>
                                                    @phone.Phone
                                                    <i class="fas fa-home" title="Home"></i>
                                                </p>

                                            }
                                            else if (phone.PhoneType.ToString() == "Work")
                                            {
                                                <p>
                                                    @phone.Phone
                                                    <i class="fas fa-building"></i>
                                                </p>
                                            }
                                            else if (phone.PhoneType.ToString() == "Mobile")
                                            {
                                                <p>
                                                    @phone.Phone
                                                    <i class="fas fa-mobile-alt"></i>
                                                </p>
                                            }
                                            else if (phone.PhoneType.ToString() == "Fax")
                                            {
                                                <p>
                                                    @phone.Phone
                                                    <i class="fas fa-fax"></i>
                                                </p>
                                            }

                                        }

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Profession</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(m => m.JobTitle)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Address:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(m => m.Address.Country), @Html.DisplayFor(m => m.Address.City), @Html.DisplayFor(m => m.Address.Street), @Html.DisplayFor(m => m.Address.ZipCode)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Additional info:</b></label>
                                    </div>
                                    <div class="col-md-6">
                                        <p> @Html.DisplayFor(m => m.AdditionalInfo)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @*@if (Model.Organization != null)
                        {
                            @await Html.PartialAsync("_GetOrganization", Model.Organization);

                        }
                        else
                        {
                            <p>Create join to organization or ad to oder organization and bla bla bla</p>
                        }*@
                </div>
            </div>
        </div>

        <p>
            <a asp-action="Index">Back to contacts</a>
        </p>



    </div>
</body>
@section Scripts
{
    <script>
        function showAddPhoneForm() {
            $("#AddPhoneForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddPhoneForm").offset().top
            }, 1500);
        }
    </script>
}
