
@using CRMSystem.Data.Models.Enums
@using CRMSystem.Web.ViewModels.Emails
@using CRMSystem.Data.Models
@{
    this.ViewData["Title"] = "Edit Customer";

}
@model CRMSystem.Web.ViewModels.Customers.EditCustomerInputModel
<body id="page-top">
    <form style="padding-bottom: 7rem" method="post" asp-action="Edit" asp-controller="Customers">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary"> <b>Update customer info</b> </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <a asp-action="Details" method="get" asp-route-id="@Model.Id" class="dropdown-item">Back to details</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Title:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <select asp-for="Title" asp-items="Html.GetEnumSelectList<Title>()" class="form-control" value="@Model.Title"></select>
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>First Name:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>McustomerIddle Name:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <input asp-for="MiddleName" value="@Model.MiddleName" class="form-control" />
                                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Last Name:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <input asp-for="LastName" value="@Model.LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Industry:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <select asp-for="Industry" asp-items="Html.GetEnumSelectList<IndustryType>()" class="form-control" value="@Model.Industry.ToString()"></select>
                                                <span asp-validation-for="Industry" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                @if (Model.Emails.Count > 1)
                                                {
                                                    <b>Emails</b>
                                                }
                                                else
                                                {
                                                    <b>Email</b>
                                                }
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            @for (int i = 0; i < @Model.Emails.Count; i++)
                                            {
                                                <p>
                                                    <div class="form-row email_input" id="emailsDiv">
                                                        <div class="col-md-6">

                                                            <input asp-for="Emails[i].Email" value="@Model.Emails[i].Email" class="form-control" asp-route="Emails[i].Email" />
                                                            <input asp-for="Emails[i].Id" type="hidden" />
                                                            <input asp-for="Emails[i].CustomerId" type="hidden" />
                                                            <input asp-for="Emails[i].Email" type="hidden" />
                                                            <span asp-validation-for="Emails[i].Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select asp-for="Emails[i].EmailType" asp-items="Html.GetEnumSelectList<EmailType>()" class="form-control"></select>
                                                        </div>
                                                        @if (Model.Emails.Count > 1)
                                                        {
                                                            <a asp-action="Delete" asp-controller="Emails" asp-route-id="@Model.Emails[i].Id" asp-route-customerId="@Model.Emails[i].CustomerId">

                                                                <i class="fas fa-minus-circle" style="color: red"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </p>
                                            }
                                            @if (Model.Emails.Count < 2)
                                            {
                                                <div id="EmailContainer"></div>
                                                <a class="add_Email">Add more emails</a>

                                            }
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                @if (Model.Phones.Count > 1)
                                                {
                                                    <b>Phones</b>
                                                }
                                                else
                                                {
                                                    <b>Phone</b>
                                                }
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            @for (int i = 0; i < @Model.Phones.Count; i++)
                                            {

                                                <p>
                                                    <div class="form-row phone_input" id="phonesDiv">
                                                        <div class="col-md-6">

                                                            <input asp-for="Phones[i].Phone" asp-route="Phones[i].CustomerId" value="@Model.Phones[i].Phone" class="form-control" />
                                                            <input asp-for="Phones[i].Id" type="hidden" />
                                                            <input asp-for="Phones[i].CustomerId" type="hidden" />
                                                            <input asp-for="Phones[i].Phone" type="hidden" />
                                                            <span asp-validation-for="Phones[i].Phone" class="text-danger"></span>

                                                        </div>
                                                        <div class="col-md-4">
                                                            <select asp-for="Phones[i].PhoneType" asp-items="Html.GetEnumSelectList<PhoneType>()" class="form-control"></select>
                                                        </div>
                                                        @if (Model.Phones.Count > 1)
                                                        {
                                                            <a asp-action="Delete" asp-controller="Phones" asp-route-id="@Model.Phones[i].Id" asp-route-customerId="@Model.Phones[i].CustomerId">
                                                                <i class="fas fa-minus-circle" style="color: red"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </p>
                                            }
                                        @if (Model.Emails.Count < 3)
                                        {
                                            <div id="PhoneContainer"></div>
                                            <a class="add_Phone">Add more phones</a>
                                        }

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Profession</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <input asp-for="JobTitle" value="@Model.JobTitle" class="form-control" />
                                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Address:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                Country <br />
                                                <input asp-for="Address.Country" value="@Model.Address.Country" class="form-control" /><br />
                                                City<br />
                                                <input asp-for="Address.City" value="@Model.Address.City" class="form-control" /><br />
                                                Street<br />
                                                <input asp-for="Address.Street" value="@Model.Address.Street" class="form-control" /><br />
                                                Zip Code<br /><input asp-for="Address.ZipCode" value="@Model.Address.ZipCode" class="form-control" />
                                                <input asp-for="Address.Id" type="hidden" />
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><b>Additional info:</b></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>
                                                <textarea asp-for="AdditionalInfo" value="@Model.AdditionalInfo" class="form-control" rows="3"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="@Model.Id" type="hidden" />

                                <button type="submit" class="btn btn-primary rounded-bottom">Save Changes</button>
                                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-danger rounded-bottom">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</body>


@section Scripts
{

    <script src="~/js/CreateEditCustomer.js"></script>
}
