
@using CRMSystem.Data.Models.Enums
@using CRMSystem.Web.ViewModels.Emails
@using CRMSystem.Web.ViewModels.Phones
@model CRMSystem.Web.ViewModels.Contacts.GetDetailsViewModel

@*<div class="col-xl-6 col-lg-7">*@
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">  <b>Update contact</b> </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Back to information</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label><b>First Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="FirstName" value="@Model.FirstName" class="rounded" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Middle Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="MiddleName" value="@Model.MiddleName" class="rounded" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Last Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="LastName" value="@Model.LastName" class="rounded" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Work in:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <select asp-for="Industry" asp-items="Html.GetEnumSelectList<IndustryType>()" class="form-control"></select>
                        <span asp-validation-for="Industry" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Email</b></label>
                </div>
                <div class="col-md-6">
                    @foreach (var email in this.Model.EmailAddresses)
                    {
                        <p>
                            <input asp-for="EmailAddresses" value="@email.Email" />
                            <span asp-validation-for="EmailAddresses" class="text-danger"></span>
                            <select asp-for="EmailAddresses" asp-items="Html.GetEnumSelectList<EmailType>()" class="form-control"></select>

                            <a asp-action="Delete" asp-controller="Emails" asp-route-contactId="@Model.Id" asp-route-id="@email.Id">
                                <i class="fas fa-minus-circle" style="color: red"></i>
                            </a>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Phone</b></label>
                </div>
                <div class="col-md-6">
                    @foreach (var phone in this.Model.PhoneNumbers)
                    {
                        <p>
                            <input asp-for="PhoneNumbers" value="@phone.Phone" />
                            <span asp-validation-for="PhoneNumbers" class="text-danger"></span>
                            <a asp-action="Delete" asp-controller="Phones" asp-route-contactId="@Model.Id" asp-route-id="@phone.Id">
                                <i class="fas fa-minus-circle" style="color: red"></i>
                            </a>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Profession</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="JobTitle" value="@Model.JobTitle" />
                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Address:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        Country <br/>
                        <input asp-for="Address" value="@Model.Address.Country"/><br/>
                        City<br/>
                        <input asp-for="Address" value="@Model.Address.City"/><br/>
                        Street<br/>
                        <input asp-for="Address" value="@Model.Address.Street"/><br/>
                        Zip Code<br/><input asp-for="Address" value="@Model.Address.ZipCode"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
@*</div>*@