
@using CRMSystem.Data.Models.Enums
@using System.Linq
@using CRMSystem.Web.ViewModels.Emails

@model CRMSystem.Web.ViewModels.Customers.EditCustomerInputModel
<form style="padding-bottom: 7rem" method="post" asp-action="Edit">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">  <b>Update contact</b> </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Back to information</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label><b>First Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="FirstName" value="@Model.FirstName" class="rounded" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Middle Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="MiddleName" value="@Model.MiddleName" class="rounded" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Last Name:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="LastName" value="@Model.LastName" class="rounded" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Industry:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <select asp-for="Industry" asp-items="Html.GetEnumSelectList<IndustryType>()" class="form-control"></select>
                        <span asp-validation-for="Industry" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Email</b></label>
                </div>
                <div class="col-md-6">
               
                    @for (int i = 0; i < @Model.EmailAddresses.Count; i++)
                    {
                        <p>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input asp-for="EmailAddresses[i].Email" value="@Model.EmailAddresses[i].Email" class="form-control"/>
                                    <input asp-for="EmailAddresses[i].Id" type="hidden" />
                                    <input asp-for="EmailAddresses[i].Email" type="hidden"/>

                                    <span asp-validation-for="EmailAddresses" class="field-validation-valid"></span>
                                </div>
                                <div class="col-md-4">
                                    <select asp-for="EmailAddresses[i].EmailType" asp-items="Html.GetEnumSelectList<EmailType>()" class="form-control"></select>
                                </div>
                                <a asp-action="Delete" asp-controller="Emails" asp-route-id="EmailAddresses[i]" asp-route-contactId="EmailAddresses[i].CustomerId">

                                    <i class="fas fa-minus-circle" style="color: red"></i>
                                </a>
                            </div>
                        </p>
                    }
                    <a href="#" onclick="showAddEmailForm()"><i class="fas fa-plus-circle" title="Add more emails">Add other email</i></a>
                    <div id="AddEmailForm" style="display: none" class="form-row">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @{
                                    Model.EmailAddresses.Add(new EmailCreateInputModel() {CustomerId = Model.Id});
                                }
                                <input class="form-control" asp-for="@Model.EmailAddresses[(Model.EmailAddresses.Count() - 1)].Email" placeholder="Email">
                                <span asp-validation-for="EmailAddresses" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <select asp-for="EmailAddresses[(Model.EmailAddresses.Count() - 1)].EmailType" asp-items="Html.GetEnumSelectList<EmailType>()" class="form-control" placeholder="type"></select>
                                <span asp-validation-for="EmailAddresses" class="text-danger"></span>
                            </div>
                            <input asp-for="@Model.EmailAddresses[(Model.EmailAddresses.Count() - 1)].CustomerId" type="hidden"/>
                            <a href="#" onclick="cancel()">&nbsp;<i class="fas fa-window-close fa-lg" style="color: red"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Phone</b></label>
                </div>
                <div class="col-md-6">
                    @for (int i = 0; i < @Model.PhoneNumbers.Count; i++)
                    {

                        <p>
                            <div class="form-row">
                                <div class="col-md-6">

                                    <input asp-for="PhoneNumbers[i].Phone" asp-route="@Model.PhoneNumbers[i].CustomerId" value="@Model.PhoneNumbers[i].Phone" class="form-control" />
                                    <input asp-for="@Model.PhoneNumbers[i].Id" type="hidden" />
                                    <span  asp-validation-for="PhoneNumbers" class="text-danger"></span>
                                 
                                </div>
                                <div class="col-md-4">
                                    <select asp-for="PhoneNumbers[i].PhoneType" asp-items="Html.GetEnumSelectList<PhoneType>()" class="form-control"></select>
                                </div>
                                <a asp-action="Delete" asp-controller="Phones" asp-route-contactId="@Model.Id" asp-route-id="@Model.PhoneNumbers[i].CustomerId">
                                    <i class="fas fa-minus-circle" style="color: red"></i>
                                </a>
                            </div>
                        </p>
                    }

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Profession</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="JobTitle" value="@Model.JobTitle" />
                        <span asp-validation-for="JobTitle" class="text-danger"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Address:</b></label>
                </div>
                <div class="col-md-6">
                    <p>
                        Country <br />
                        <input asp-for="Address.Country" value="@Model.Address.Country" /><br />
                        City<br />
                        <input asp-for="Address.City" value="@Model.Address.City" /><br />
                        Street<br />
                        <input asp-for="Address.Street" value="@Model.Address.Street" /><br />
                        Zip Code<br /><input asp-for="Address.ZipCode" value="@Model.Address.ZipCode" />
                        <input asp-for="Address.Id" type="hidden" />
                    </p>
                </div>
            </div>
        </div>
        <input asp-for="@Model.Id" type="hidden" />
        <button type="submit" class="btn btn-primary rounded-bottom">Save Changes</button>  <a href="#" class="btn btn-danger rounded-bottom" onclick="showCurrentContact()">Cancel</a>
    </div>
</form>


@section Scripts
{
    <script>

        function del(id, contactId) {
            $.ajax({
                url: '/Emails/Delete',
                data: {
                    id: id,
                    contactId: contactId
                },
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    location.reload(true);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
}