@model CRMSystem.Web.ViewModels.Organizations.OrganizationViewModel
<div class="col-xl-6 col-lg-5">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Customer's organization info</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                    <a class="dropdown-item" href="#">Change organization</a>
                    <a class="dropdown-item" href="#">Leave organization</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label><b>Organization:</b></label>
                </div>
                <div class="col-md-6">
                    <p> @Html.DisplayFor(m => m.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label><b>Address:</b></label>
                </div>
                <div class="col-md-6">
                    <p> @Html.DisplayFor(m => m.Address.Country), @Html.DisplayFor(m => m.Address.City), @Html.DisplayFor(m => m.Address.Street), @Html.DisplayFor(m => m.Address.ZipCode) </p>
                </div>
            </div>
        </div>
    </div>
</div>