@model CRMSystem.Web.Infrastructure.PaginatedList<CRMSystem.Web.ViewModels.Orders.OrderViewModel>

@{
    this.ViewData["Title"] = $"History order's of {this.ViewData["FullName"]}";

}
<h2>@ViewData["Title"]</h2>
<hr/>
<p>
    <a asp-action="Create" asp-route-id="@ViewData["CustomerId"]">Add New Order</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="History" asp-route-sortOrder="@ViewData["SortByDate"]">Ordered date</a>
            </th>
            <th>
                <a asp-action="History" asp-route-sortOrder="@ViewData["SortByName"]">Product name</a>
            </th>
            <th>
                <a asp-action="History" asp-route-sortOrder="@ViewData["SortByQuantity"]">Quantity</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {

            <tr>
                <td>
                    @order.OrderedDateAsString
                </td>

                <td>
                    @order.ProductName
                </td>
                <td>
                    @order.Quantity
                </td>


            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<ul class="pagination">

    <li>
        <a asp-action="History"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn @prevDisabled">
            Previous
        </a>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
        <li class="page-item @(Model.PageIndex == i ? "active" : string.Empty)">
            <a class="page-link" asp-route-pageNumber="@i">@i</a>
        </li>
    }
        <a asp-action="History"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn  @nextDisabled">
            Next
        </a>
        </li>
    </ul>